/*.vsp
/RecognitionSpeedTest/obj
/RecognitionSpeedTest/bin
/ImageProcessing/obj
/ImageProcessing/bin
/TextureRecognition/obj
/TextureRecognition/bin
/ImageRecognition/obj
/ImageRecognition/bin
/TextureRecognition.v11.suo